*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
.logo{
    width: 180px;
    height: auto;
    
}
.header{
    min-height: 100vh;
    width: 100%;    
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(d.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}
.nav-link ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(95, 182, 95);
    display: block;
    margin: auto;
    transition: 0.4s;

}
.nav-link ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 55px;
}
#LOGOUT{
    background-color: rgb(95,182,95);
    border-radius: 8px;
}


.button {
    text-align: center;
    display: inline-block;
    color: rgb(239, 238, 238);
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin: 0; /* Adjust this value according to your design */
    text-decoration: none;
    background-color: rgb(95, 182, 95);
}

.button:hover {background-color: #6cbb63;}
.button:hover {background-color: #6cbb63;}
/*types of water scarcity page 2*/
.types{
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 100px;
 }
 h1{
    font-size: 36px;
    font-weight: 600;
 }
p{
    color: rgb(13, 12, 12);
    font-size: 14px;
    font-weight: 300;
    padding: 10px;

}
.row{
    display: flex;
    justify-content: center;
    padding: 10px;
    justify-content: space-between;
    
}
.typesin{
   
    height: 400px;
    margin: 10px;
    background-color: #bed6c6;
    padding: 15px;
    border-radius: 10px;
    transform: 0.5s;
    box-sizing: content-box;
   
}
.typesin img{
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px;

}
.typesin:hover{
    box-shadow: 0 0 20px 0px #7ed59a;
}

/*----------------page 3----------------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(a.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
/*-------page 4 --------------*/

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #42db2e;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #29ad36;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #f7f4f4;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

